html, body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

/* Navigation Bar */
.flex {
    display: flex;
    align-items: center;
    padding-left: 120px;
}

.logo {
    display: flex;
}

/* Logo Elements */
.logo img {
    width: 40px;
    height: 40px;
    display: flex;
    padding-top: 16%;
}

.logo p {
    font-weight: 650;
    font-size: 27.5px;
    padding-left: 10%;
    padding-top: 1%;
    display: inline-block;
    align-items: center;
    color: black

}

/* Left side navigation bar elements */
.nav_bar {
    display: flex;
    align-items: center;
}

.nav_bar a {
    position: relative;
    font-size: 16.75px;
    font-weight: 400;
    opacity: 90%;
    text-decoration: none;
    color: black;
    padding-top: 1.3%;
    margin-left: 23.5%;
    transition: all 0.3s ease 0%;
    cursor: pointer;
}

/* Hover Animation */
.nav_bar a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 3px;
    width: 100%;
    transition: 0.3s;
    border-radius: 25px;
    transform: scaleX(0);
    background: #3cd49c;

}

.nav_bar a:hover::before {
    transform: scaleX(1);
}

/* Icons for navigation bar*/
.material-icons {
    padding-top: 1.85%;
    padding-left: 0.5%;
    opacity: 80%;
}

/* Right side navigation bar elements*/
.rightside_navbar {
    margin-left: auto;
    padding-right: 12.5%;
    padding-top: 0.5%;
    display: flex;
}

.rightside_navbar a {
    color: black;
    cursor: pointer;
}

/* Icon positioning */
.cart_icon {
    padding-top: 4%;
    padding-left: 30%;
}

/* Navigation bar line separator */
hr {
    width: 100%;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 0;
    opacity: 70%;
}

/* Background of Hero Image*/
.introduction {
    height: 36.75em;
    width: 100%;
    background: #e8fcfc;
}

/* Keyboard Image */
.introduction img{
    width: 43%;
    position: relative;
    top: 5%;
    left: 50%;
}
/* New Keyboards Button */
.gradient_button {
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f47474, #64a4f7);
    color: white;
    border: none;
    padding: 7.5px 10px;
    border-radius: 12.5px;
    position: relative;
    left: 6%;
    bottom: 102.5%;
    cursor: pointer;
}

/* Header text */
.introduction h1 {
    font-size: 3.5em;
    font-weight: 650;
    position: relative;
    left: 12.5%;
    bottom: 60%;
}

/* Description text */
.introduction p{
    position: relative;
    left: 12.7%;
    bottom: 64%;
    opacity: 65%;
}

/* Styling text within the image */
.introduction span {
    color: #3cd49c;
}

/* "Start Building" Button */
.introduction .start_building {
    font-size: 17px;
    font-weight: 500;
    background-color: black;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 7.5px;
    position: relative;
    left: 12.5%;
    bottom: 57.5%;
    box-shadow: 5px 5px #3cd49c;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* Hover animation for Start Building Button */
.introduction .start_building:hover {
    transform: scale(1.06);
}

/* Images under Categories Section */
.header_text h1 {
    text-align: center;
    padding-top: 1%;
}

#image_sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_sorting_elements {
    padding: 20px;
    text-align: center;
    width: 30%;
}

.image_sorting_elements img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

/* Hover Animation for Images */
.image_sorting_elements img:hover {
    transform: scale(1.0425);
}

.image_sorting_elements p {
    font-size: 20px;
    font-weight: 500;
}

/* Keysthetic Experience */
.keysthetic_experience {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding-top: 2%;
}

.keysthetic_experience h1 {
    font-weight: 600;
}

.keysthetic_experience h3 {
    font-size: 20px;
    font-weight: 500;
}

/* Image Sorting for Keysthetic Experience */
.image_sorting_exp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1em;
}

.image_sorting_elements_exp {
    text-align: center;
    width: 12.5%;
}

.image_sorting_elements_exp img {
    width: 100%;
    height: auto;
}

.image_sorting_elements_exp p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10%;
}

/* Footer */

/* Background color */
.footer_section {
    background-color: black;
    display: flex;
    width: 100%;
    margin-top: 1em;
    height: 25em;
}

.footer_section img {
    height: 2.5em;
    width: 2.5em;
    position: relative;
    top: 5em;
    left: 16.75em;
}

.footer_section a h1 {
    font-weight: 500;
    font-size: 1.6em;
    color: rgb(245, 245, 245);
    position: relative;
    left: 10.9em;
    padding-top: 2.5em;
}

.footer_section a {
    text-decoration: none;
}

.footer_section i {
    padding-right: 1.5%;
}

.footer_content h2 {
    color: rgb(245, 245, 245);
    font-weight: 500;
    font-size: 1.4em;
    position: relative;
    left: 30.425em;
    padding-top: 2.5em;
    padding-right: 15em;
}

.footer_content ul li {
    list-style: none;
}

.footer_content ul li a {
    font-weight: 500;
    opacity: 70%;
    color: rgb(245, 245, 245);
    text-decoration: none;
    line-height: 1.5em;
    position: relative;
    left: 40.2em;
    bottom: 0.5em;
    cursor: pointer;
}

/* Hover animation */
.footer_content ul li a::before{
    content: "";
    position: absolute;
    bottom: -0.5px;
    right: 0;
    height: 2px;
    width: 100%;
    border-radius: 25px;
    transform: scaleX(0);
    background: lightgrey;
}

.footer_content ul li a:hover::before {
transform: scaleX(1);
}

/* Copyright logo */
.copyright_elements span {
    opacity: 70%;
    color: rgb(245, 245, 245);
    position: relative;
    left: 9.4em;
    top: 14em;
}

.copyright_elements p {
    color: rgb(245, 245, 245);
    font-weight: 500;
    opacity: 70%;
    position: relative;
    left: 15.9em;
    top: 18.39em;
}

/* Hero Image Section for Components(switches, cables, etc.) pages */
.main_section img {
    width: 100%;
}

/* Products Section */
/* Header text */
.product_info_text h3 {
    font-size: 17.5px;
    font-weight: 500;
    position: relative;
    left: 5.25%;
    margin-top: 4%;
}

.switches_heroimage img {
    width: 100%;
}

.products {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product_images {
    padding: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 5em;
}

.product_images img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

/* Image Description Text */
.product_images h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    position: relative;
    left: 10%;
    top: 0.5em;
}

.product_images p {
    font-size: 16px;
    opacity: 70%;
    text-align: left;
    position: relative;
    margin: 0;
    left: 10%;
}

/* Price Tag text */
.product_images span {
    color: black;
    font-size: 17px;
    font-weight: 500;
}

/* Product Image Hover Animation */
.product_images img:hover {
    transform: scale(1.0425);
}

/* View Collection Link for Switches Section */
.switches_link a {
    font-size: 15px;
    color: black;
    display: block;
    text-align: center;
    padding-bottom: 3%;
    letter-spacing: 1px;
    transform: scale(1,0.9)
}

/* Cart Page Layout */
.product_info img {
    width: 35%;
    padding-left: 10%;
    position: relative;
    top: 2em;   
}

.product_info h1 {
    font-weight: 450;
    font-size: 35px;
    position: relative;
    left: 47.5%;
    bottom: 19em;

}

.product_info h2 {
    font-weight: 500;
    font-size: 20px;
    opacity: 60%;
    position: relative;
    left: 47.5%;
    bottom: 34em;

}

/* Product Description */
.product_description {
    font-weight: 450;
    position: relative;
    left: 47.5%;
    bottom: 42em;
}

.product_description ul li {
    list-style: none;
    position: relative;
    right: 2.1%;
    letter-spacing: 0.5px;
    opacity: 80%;
}

.product_description ul li span {
    font-weight: 550;
    opacity: 100%;
}

/* Price Description */
.product_description p {
    font-size: 20px;
    position: relative;
    top: 1.5em;
}

/* Quantity Button */
.qty_button_elements {
    position: relative;
    left: 56.5em;
    bottom: 39em;
}

.qty_button_elements p {
    opacity: 70%;
}

.qty_button {
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.qty_button span {
    width: 100%;
    text-align: center;
    font-size: 17.5px;
    font-weight: 500;
    cursor: pointer;
}

.qty_button span.num {
    opacity: 80%;
    font-size: 20px;
    pointer-events: none;

}

/* Add to Cart Button */
.product_info button {
    font-weight: 500;
    position: relative;
    left: 47.5%;
    bottom: 37.5em;
    padding: 15px 300px;
    background-color: #3cd49c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;    
}

/* More Product Description */
.further_product_description p {
    font-weight: 450;
    position: relative;
    opacity: 80%;
    left: 47.5%;
    bottom: 37em;
    letter-spacing: 0.25px;
}

/* Product Recommendations */
.product_recommendations {
    position: relative;
    bottom: 10em;
}

.product_recommendations h1 {
    font-weight: 500;
    text-align: center;
}

/* Log in Page */
.input_fields h1 {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 3%;
    font-weight: 450;
    font-size: 40px;
    opacity: 80%;
}

/* Input Fields */
.input_fields input {
    width: 22.5%;
    font-size: 17.5px;
    padding: 10px 0px;
    position: relative;
    left: 38.5%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 7.5px;
    padding-left: 0.75%;
    padding-top: 0.65%;
    padding-bottom: 0.65%;
    transform: scale(1,0.95)
}

.input_fields {
    padding-bottom: 0.5%;
}

.login_section_buttons{
    padding-bottom: 2.5%;
}

/* Forgot Password Button */
.login_section_buttons a {
    position: relative;
    left: 38.5%;
    color: #08cc9d;
    font-weight: 450;
}

/* Sign in Button */
.login_section_buttons button {
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #07e9a5;
    position: relative;
    left: 8.5%;
    padding: 20px 30px;
    cursor: pointer;
}

/* Create Account Button */
.login_section_buttons span {
    color: #07e9a5;
    position: relative;
    left: 8.655%;
}

/* Create Account Page */
.create_account_button {
    padding-top: 1%;
    padding-bottom: 2%;
}

.create_account_button button {
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #07e9a5;
    position: relative;
    left: 45.5%;
    padding: 20px 30px;
    cursor: pointer;
}

/* Forgot Password Page */
.forgot_password_buttons {
    padding-bottom: 2.5%;
}

/* Forgot Password Button */
.forgot_password_buttons a {
    position: relative;
    left: 38.5%;
    color: #08cc9d;
    font-weight: 450;
}

.forgot_password_buttons p {
    position: relative;
    left: 40.5%;
    opacity: 70%;
    font-size: 17.5px;
}

/* Sign in Button */
.forgot_password_buttons button {
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #07e9a5;
    position: relative;
    top: 1.5em;
    left: 8.5%;
    padding: 15px 30px;
    cursor: pointer;
}

/* Create Account Button */
.forgot_password_buttons span {
    color: #07e9a5;
    position: relative;
    left: 10.2%;
}
/* Cart */
.cart_section {
    padding-top: 2%;
}

/* Header text */
.cart_section h1 {
    opacity: 80%;
    font-weight: 450;
    font-size: 42.5px;
    position: relative;
    left: 9.6%;
}

.cart_section ul li {
    transform: scale(1,0.9);
    opacity: 50%;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 8%;
    padding-right: 7.5%;
    padding-bottom: 1%;
}

.cart_elements {
    padding-right: 23.8%;
}

.cart_section hr {
    opacity: 80%;
    width: 80%;
}

/* Cart Item Descriptions */
.cart-item-details {
    margin: 0;
    padding: 0;
}

.cart-item {
    align-items: center;
    margin-bottom: 1%;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin-left: 10%;
    border-bottom-width: 1%;
    padding-top: 2%;
    padding-bottom: 3%;
}

/* Item Image */
.cart-item-info {
    margin-right: 50%;
}

.cart-item-image {
    position: relative;
    width: 7.5%;
    border-radius: 5px;
}

/* Item Description */
.cart-item-info p span strong {
    font-weight: 500;
}

.cart-item-info p {
    opacity: 80%;
    position: relative;
    left: 5%;
}

.cart-item-details {
    position: relative;
    display: flex;
    align-items: center;
}